<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  style="display: flex; flex-direction: column; gap: 20px"
>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input
      type="text"
      matInput
      placeholder="Digite algo"
      formControlName="nome"
    />
    <mat-error *ngIf="form.controls.nome.hasError('required')"
      >Nome é obrigatório</mat-error
    >
    <mat-error *ngIf="form.controls.nome.hasError('minlength')"
      >Nome deve ter no mínimo 3 caracteres</mat-error
    >
    <mat-error *ngIf="form.controls.nome.hasError('maxlength')"
      >Nome deve ter no máximo 30 caracteres</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input
      type="text"
      matInput
      placeholder="Digite algo"
      formControlName="email"
    />
    <mat-error *ngIf="form.controls.email.hasError('required')"
      >Email é obrigatório</mat-error
    >
    <mat-error *ngIf="form.controls.email.hasError('email')"
      >Formato de email inválido</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Senha</mat-label>
    <input
      type="password"
      matInput
      placeholder="Digite algo"
      formControlName="senha"
    />
    <mat-error *ngIf="form.controls.senha.hasError('required')"
      >Senha é obrigatória</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CEP</mat-label>
    <input
      type="text"
      matInput
      placeholder="Digite algo"
      formControlName="cep"
      (input)="onCepChange()"
    />
    <mat-error *ngIf="form.controls.cep.hasError('required')"
      >CEP é obrigatório</mat-error
    >
    <mat-error
      *ngIf="
        form.controls.cep.hasError('minlength') ||
        form.controls.cep.hasError('maxlength')
      "
      >CEP deve ter 8 caracteres</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Logradouro</mat-label>
    <input
      type="text"
      matInput
      placeholder="Digite algo"
      formControlName="logradouro"
    />
    <mat-error *ngIf="form.controls.logradouro.hasError('required')"
      >Logradouro é obrigatório</mat-error
    >
  </mat-form-field>

  <button mat-raised-button type="submit">Salvar</button>
  <button mat-raised-button type="button" matDialogClose>Cancelar</button>
</form>
