.item {
  width: 100px;
  height: 100px;
  background-color: red;
  flex-shrink: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.blue {
  background-color: blue;
}

.red {
  background: red;
}

.black {
  background-color: black;
}

@media (max-width: 1000px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1001px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
