@function get-dark-bg($level) {
  @return rgba(0, 0, 0, $level * 0.1);
}

.wrapper {
  display: flex;
  border: 1px solid blue;

  .item {
    width: 100px;
    height: 100px;
    border: 1px solid red;
  }

  .item1 {
    background-color: get-dark-bg(1);
  }

  .item2 {
    background-color: get-dark-bg(2);
  }

  .item3 {
    background-color: get-dark-bg(3);
  }

  .item4 {
    background-color: get-dark-bg(4);
  }
}
